# output
site

# Logs
logs
*.log

# Dependency directories
node_modules

# dotenv environment variables file
.env

# Mac files
*.DS_Store

# Yarn
yarn-error.log
.pnp/
.pnp.js
# Yarn Integrity file
.yarn-integrity